* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.landing-header {
    background-color: #000000;
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
    top: 0px;
    z-index: 3;
    overflow: hidden;
}

.landing-title-header, Link {
    z-index: 1;
    padding-left: 2%;
    color: #ffffff;
    word-wrap: normal;
}

.header-anchor {
    text-decoration: none;
}

.hover-color:hover {
    color: red;
    transition: 0.3s;
}

.control-btn, .form-button {
    margin-left: 10px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    line-height: 26px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.landing-description {
    margin-top: 50px;
    width: 80%;
    padding-left: 10px;
    font-family: sans-serif;
}


.form-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 10px;
}

.form-body {
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.form-fileinput{
    color: #4400ff;
}

.form-radio-input-div, .form-checkbox-object-input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-radio-input-div {
    justify-content: left;
}
.form-radio-input-div > * {
    margin-left: 5px;
}

.form-radio-input-div label, .form-checkbox-object-input-div label{
    margin-left: 5px;
}

@media only screen and (min-width: 768px) {
    .landing-title-header {
        line-height: 60px;
    }
}
