* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

#myCanvas {
    display: flex;
    flex-direction: column;
}

#myCanvas2 {
   position: absolute;
   top: 45vh;
}

.landing-header {
    background-color: #000000;
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
    top: 0px;
    z-index: 3;
    overflow: hidden;
}

.multiparts {
    font-size: 24px;
}

.landing-title-header {
    font-family: 'Press Start 2P', cursive;
    z-index: 1;
    padding-left: 2%;
    color: #ffffff;
    word-wrap: normal;
}

.hover-color:hover {
    color: red;
    transition: 0.3s;
}

.control-btn {
    margin-left: 10px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    line-height: 26px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.landing-description {
    width: 80%;
    padding-left: 10px;
    font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
    .landing-title-header {
        line-height: 60px;
    }

    .controls {
        justify-content: center;
    }

    .multiparts {
        font-size: 1em;
    }
}
