* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

#myCanvas2 {
   position: absolute;
   top: 45vh;
}

.landing-header {
    background-color: #000000;
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
    top: 0px;
    z-index: 3;
    overflow: hidden;
}

.multiparts {
    font-size: 24px;
}

.landing-title-header, Link {
    font-family: 'Press Start 2P', cursive;
    z-index: 1;
    padding-left: 2%;
    color: #ffffff;
    word-wrap: normal;
}

.header-anchor {
    text-decoration: none;
}

.hover-color:hover {
    color: red;
    transition: 0.3s;
}

.control-btn, .form-button {
    margin-left: 10px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    line-height: 26px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.landing-description {
    width: 80%;
    padding-left: 10px;
    font-family: sans-serif;
}

/* Card Styles */

.card-container {
    width: 100%;
    text-align: center;
    perspective: 1000px;
}

.card-one, .card-two {
    background-color: transparent;
    height: 400px;
    width: 300px;
    transition: transform .8s;
    transform-style: preserve-3d;
    display: inline-block;
}

.card-front, .card-back {
    position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


.card-one {
    animation-name: flip;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.card-two {
    animation-name: flip2;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

.card-front {
  background-color: #bbb;
  color: black;
  word-wrap: break-word;
}

.card-back {
    display: relative;
    border-radius: 5px;
    background: repeating-linear-gradient(
        45deg,
        #000000,
        #000000 10px,
        #ffffff 10px,
        #ffffff 20px
      );
}

.card-back-inner {
    position: absolute;
    background-color: #000000;
    padding: 10px;
    width: 80%;
    left: 10%;
    top: 40%;
}

@keyframes flip {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0);
    }
}

@keyframes flip2 {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0);
    }
}

.card-back {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: rotateY(180deg);
}  

.form-body {
  width: 100%;
  height: 100%;
}

.form-fileinput {
    color: #ff0000;
}


@media only screen and (min-width: 768px) {
    .landing-title-header {
        line-height: 60px;
    }

    .controls {
        justify-content: center;
    }

    .multiparts {
        font-size: 1em;
    }
}
