.landing-title {
    font-family: 'Press Start 2P', cursive;
    z-index: 1;
    grid-area: title;
    background-color: #000000;
    color: #ffffff;
    padding-left: 6px;
    width: 50%;
    margin:auto;
    line-height: 26px;
}

.forms {
    margin-top: 20px;
}

.form-body {
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
}

.form-control-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-containing-div {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    grid-area: form;
}

.form-containing-div::-webkit-scrollbar {
    display: none;
}

.form-carousel-div {
    min-width: 100%;
    transition: 0.4s;
}

.form-options-control {
    grid-area: control;
    width: 90%;
    padding: 10px;
    margin: auto;
    border: 1px solid #8b848467;
}

.form-options-control input[type='text']{
    width: 100%;
    line-height: 28px;
    font-size: 14px;
    padding-top: 10px;
}

.form-options-control label{
    position: relative;
    top: 10px;
}

.select-label{
    top: -10px;
}

.form-control-instructions {
    position: relative;
    font-family: sans-serif;
    font-size: 10px;
    display: block;
    color: #000000;
    margin-bottom: 2px;
    text-transform: capitalize;
    background-color: #ffffff;
    width: fit-content;
    padding-right: 5px;
}

.select-obj-btn, .form-control-btn, .select-toggle  {
    background-color: #000000;
    color: #ffffff;
    line-height: 28px;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

.select-obj-btn:hover, .form-control-btn:hover {
    background-color: #464346;
    transition: 0.3s;
}

.select-toggle {
    background-color: #ffffff;
    width: 90;
    color: #000000;
    display: block;
}

.select-obj-btn {
    display: block; 
    margin: auto; 
    margin-bottom: 20px;
    margin-top: 10px;
}

.controls {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
    .form-control-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 90%;
        grid-template-areas: 
        "title tile"
        "control form";
        justify-items: center;
    }

    .form-body {
        margin: auto;
        width: 90%;
        height: auto;
    }
    .form-options-control {
        margin: 0;
        padding: 20px;
    }
}
