.container {
    text-align: left;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}
.logo {
  height: 250px;
  width: auto;
  filter: invert(1) hue-rotate(210deg);
  margin: auto;
}
.loader {
  margin: auto;
  transition: 0.8s;
  height: 50px;
}
.error {
  display: block;
}
.entry-form > * {
  display: block;
  font-size: 16px;
}
#file {
  color: red;
  font-weight: bolder;
}
.comments {
  height: 100px;
  width: 50%;
}
