.container {
    text-align: left;
    width: fit-content;
}
input[type^="text"], textarea#comments {
  width: 75%;
}
.logo-container {
  text-align: center;
}
.form-logo-img {
  margin: auto;
  height: 30vh;
  width: auto;
  text-align: center;
}
.loader {
  margin: auto;
  transition: 0.8s;
  height: 50px;
}
.error {
  display: block;
}
.entry-form > * {
  display: block;
  font-size: 16px;
}
#file {
  font-weight: bold;
  width: 100%;
}
.comments {
  height: 100px;
  width: 50%;
}
#submit {
  margin-top: 10px;
}