.smartparts-container {
    text-align: left;
    width: fit-content;
}
input[type^="text"].form-fileinput, textarea#smartparts-comments {
  width: 75%;
}
.smartparts-logo-container {
  text-align: center;
}
.smartparts-logo-container .form-logo-img {
  margin: auto;
  height: 30vh;
  width: auto;
  text-align: center;
}
.smartparts-error {
  display: block;
}
.smartparts-entry-form > * {
  display: block;
  font-size: 16px;
}
#smartparts-file {
  font-weight: bold;
  width: 100%;
}
#smartparts-submit {
  margin-top: 10px;
}
.multi-file-title {
  font-weight: bold;
  text-decoration: underline;
  margin: 5px 0;
}